.faq {
  padding: 60px 20px;
  background: #f9f9f9;
  text-align: center;
}

.faq-list {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.faq-list h3 {
  margin: 10px 0 5px;
}
.faq-list p {
  color: #555;
}
